
:root {
    --very-dark-cyan: hsl(183, 100%, 15%);
    --strong-cyan: hsl(172, 67%, 45%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);


}
html, body {
   
    height: 100%;
    
}

#bill {
    background: url("../images/icon-dollar.svg") no-repeat 20px;
    background-color: var(--very-light-grayish-cyan);
   
    border: 2px solid transparent;
    cursor: pointer;
}
#bill:is(:focus, :hover) {
    border: 2px solid var(--strong-cyan);
    
}
/* #bill::placeholder {
    background: url("../images/icon-dollar.svg") no-repeat left; 
     background-color: var(--very-light-grayish-cyan);
    
} */
.bill-con {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-block-end: 20px;
}

#custom {
    /* all: unset;
    background-color: var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
    text-align: end; */
    padding-inline-end: 15px;
    min-width: 0;
    cursor: pointer;
    border: 2px solid transparent;

}

#custom:is(:focus, :hover) {
    border: 2px solid var(--strong-cyan);
}
/* #custom::placeholder {
    color: var(--dark-grayish-cyan);
    font-size: 1.5rem;
    
} */
.form-con {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    flex: 1;
    border-radius: 20px 20px 0 0;
    
}
#tip-form {
   display: flex;
   flex-direction: column;
   
    flex: 2;
    padding: 2rem;
    padding-block-end: 0;
}

body {
    background-color: var(--light-grayish-cyan);
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    /* flex: 1; */
}
main {
    
    display: flex;  
    flex-direction: column;
    
    justify-content: center;
    flex: 1;
    min-width: 0;
}

.people-con {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: end;
}
#people {
    background: url("../images/icon-person.svg") no-repeat 20px;
    background-color: var(--very-light-grayish-cyan);
    border: 2px solid transparent;
    cursor: pointer;
    /* padding-inline: 35px 15px; */
    
}

#people:is(:focus, :hover) {
    border: 2px solid var(--strong-cyan);
}

/* #people::placeholder {
    background: url("../images/icon-person.svg") no-repeat left;
    background-color: var(--very-light-grayish-cyan);
} */
.title {
    min-block-size: clamp(5rem, 5vh + 1rem, 7rem);
    max-inline-size: 6rem;
    /* word-wrap: break-word; */
    align-self: center;
    font-size: 1.5rem;
    display: flex;
    letter-spacing: 0.5rem;
    /* flex-wrap: wrap; */
    overflow-wrap: anywhere;
    align-items: center;
    /* background-color: crimson; */
    min-width: 0;
    color: var(--very-dark-cyan);
    padding-block: 20px;
    
}

label[for="bill"], label[for="people"]{
    color: var(--dark-grayish-cyan);
}

input[type="number"] {
    all: unset;
    background-color: var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
    font-size: 1.5rem;
    text-align: end;
    border-radius: 5px; 
    padding-inline: 35px 15px;
    padding-block: 10px;
    
}
input[type='number']::placeholder {
    background-color: var(--very-light-grayish-cyan);
    color: var(--dark-grayish-cyan);
    font-size: 1.5rem;
    text-align: end;
    
    /* border-radius: 200px; */
}
input[type="radio"] {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}



fieldset>div {
   background-color: var(--very-dark-cyan);
   text-align: center;
    padding-block: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    
   
}

fieldset>div:hover, fieldset>div>*:hover {
    cursor: pointer;
    color: var(--very-dark-cyan);
    background-color: var(--strong-cyan);
    
}
.tips-con {
    display: grid;
    grid-template-columns: [tips-start] 1fr 1fr [tips-end];
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    padding-block: 20px;
    color: var(--white);
    flex: 1;
    align-items: center;
    justify-content: center;
}
.tips-con>legend {
  color: var(--dark-grayish-cyan);
}

/* .tip-amount-con {
    display: flex;
    justify-content: space-between;
} */
.tip-display-con {
    display: grid;
    /* flex-direction: column; */
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    flex: 1;
    background-color: var(--very-dark-cyan);
    margin: 1.5rem;
    padding: 2rem;
    border-radius: 15px;
    min-width: 0;
    gap: 10px;
}

.tip-display-con>div>h2 {
    color: var(--white);
    min-width: 0;
}
.tip-display-con>div>p {
    color: var(--dark-grayish-cyan);
    min-width: 0;
    
}

.tip-display-con>p {
    color: var(--strong-cyan);
    justify-self: end;
    font-size: clamp(1rem, 2rem + 0.90vw, 3rem);
    
    min-width: 0;
}

.resetBtn {
    /* grid-row: 3; */
    grid-column: 1 / span 2; 
    background-color: var(--strong-cyan);
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    padding-block: 10px;
    color: var(--very-dark-cyan);
    border-radius: 7px;
    min-width: 0;
    /* background-color: red; */
}

.resetBtn:disabled {
 filter: opacity(10%);

}

.resetBtn:not(:disabled):hover {
    filter: brightness(2);
    cursor: pointer;
}
.footer-con {
    
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

@media (min-width: 760px) {

    body {
        grid-template-columns: minmax(var(--padding-inline), 1rem) [content-start] min(100% - (var(--padding-inline)* 2), var(--content-max-width)) [content-end] minmax(var(--padding-inline), 2rem);
    }
    .bill-con {
        flex: none;
    }

    #custom {
        padding-inline: 5px 10px;
    }
    .form-con {
        flex-direction: row;
        border-radius: 20px;
        max-block-size: 30rem;
        max-inline-size: 55rem;
    }
    main {
        align-items: center;
    }
    .tips-con {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-block-end: 0;
        
    }
    .people-con {
        padding-block-end: 1.5rem;
        justify-content: center;
    }
   #tip-form {
    flex: 1;
    }
    .tip-display-con {
        margin-inline-start: 0;
    }
    .resetBtn {
        align-self: end;
    }
}