

html, body {
   
    height: 100%;
    
}

.form-con {
    display: flex;
    flex-direction: column;
    min-block-size: clamp(40rem, 50vh + 1rem, 50rem );
    min-inline-size: clamp(100%, 50vh + 1rem, 20rem);
    background-color: red;
    margin-inline-start: max(0rem, 4rem);
    align-items: center;
    justify-content: center;
}
#tip-form {
    flex: 1;

}
main {
    display: flex;
    
    flex-direction: column;
    min-height: 100%;
    min-width: 0;
    justify-content: center;
    align-items: center;

}

.title {
    min-block-size: clamp(5rem, 5vh + 1rem, 15rem);
    max-inline-size: 2.5rem;
    word-wrap: break-word;
}


footer {
    position: sticky;
    bottom: 0;
    min-width: 0;
   background-color: blueviolet;
}

@media (min-width: 760px) {
    .form-con {
        flex-direction: row;
    }
}