

html, body {
   
    height: 100%;
    
}
.bill-con {
    display: flex;
    flex-direction: column;
}
.form-con {
    display: flex;
    flex-direction: column;
   
    background-color: red;
    /* margin-inline: clamp(0rem, 2vh + 1rem, 10rem); */
    align-items: center;
    justify-content: center;
    /* flex: 1; */
    /* min-width: 100%; */
}
#tip-form {
    /* flex: 1; */

}
main {
    display: flex;
    
    flex-direction: column;
    min-height: 100%;
    min-width: 0;
    justify-content: center;
    align-items: center;

}

.people-con {
    display: flex;
    flex-direction: column;
}

.title {
    min-block-size: clamp(5rem, 5vh + 1rem, 15rem);
    max-inline-size: 2.5rem;
    word-wrap: break-word;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] +label {
   
}


footer {
    position: sticky;
    bottom: 0;
    min-width: 0;
   background-color: blueviolet;
}

@media (min-width: 760px) {
    .form-con {
        flex-direction: row;
        
    }
}